@page
@using AspNetCoreIdentityLocalization.Resources
@inject LocService SharedLocalizer
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Confirm email change");
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />