@page
@using AspNetCoreIdentityLocalization.Resources
@inject LocService SharedLocalizer
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION");
}

<h1>@ViewData["Title"]</h1>
<p>
    @SharedLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION_TEXT")
</p>

