@page
@using AspNetCoreIdentityLocalization.Resources
@inject LocService SharedLocalizer
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Forgot password confirmation");
}

<h1>@ViewData["Title"]</h1>
<p>
    @SharedLocalizer.GetLocalizedHtmlString("Please check your email to reset your password.")
</p>

