@page
@using AspNetCoreIdentityLocalization.Resources
@inject LocService SharedLocalizer
@model LogoutModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("LOGOUT");
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@SharedLocalizer.GetLocalizedHtmlString("You have successfully logged out of the application.")</p>
</header>