@page
@using AspNetCoreIdentityLocalization.Resources
@inject LocService SharedLocalizer
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION");
}

<h1>@ViewData["Title"]</h1>
<p>
    @SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_TEXT1") <a asp-page="./Login">@SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_CLICK_HERE")</a>.
</p>
